*{  
    margin:auto;
}

body{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-self: center;
    align-items: center;
    align-self: center;
    place-self: center;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
}

.weather_container{
    margin-top: 1em !important;
    padding-top: 1em !important;
}

h1{
    display: flex;
    margin-left: 1rem;
    justify-self: center;
    align-items: center;
    align-self: center;
    place-self: center;
    font-size: 3em !important;
}
.btn  {
    margin-left: 1rem;
}

.results{
    margin-top: 2rem ;
    border-radius: 20px;
}

.material-icons{
    font-size: 50px;
}

.results{
    display: none;
    z-index: 9999; /* para que el panel esté en el frente de todos los demás elementos */
    
}

.cities{
    min-width: 6em;
    max-width: 100vw;
}

@media screen and (max-width: 480px) {
    h1{
        font-size: 1.5em !important;
    }
    .results {
      max-height: 60vh;
    }
    h2, h3,h4{
        font-size: 1.2em !important;
    }

  }